# Duckdb db explorer
### While I don't use it in this project, this is a notebook to look into the contents of a duckdb file
### Uncomment the line:
    ##path: ./data/db.duckdb
### in profiles.yml within the dbt project if you want to create a duckdb database.
### It's very similar to a sqlite database, but is single-threaded and has a lock

In [1]:
import duckdb
import pandas as pd

conn = duckdb.connect('../data/data.duckdb')

In [2]:
view_df = conn.sql("SELECT view_name FROM duckdb_views;").df()
view_df.head()

           view_name
0  stg_contributions

In [15]:
from ipywidgets import interact

def describe_view(view_name):
    query = f"DESCRIBE {view_name};"
    top_query = f"SELECT * FROM {view_name} LIMIT 5;"
    describe_df = conn.sql(query).df()
    top_df = conn.sql(top_query).df()
    display(describe_df)
    display(top_df)
    #return describe_df, top_df

interact(describe_view, view_name=list(view_df['view_name'].unique()))

interactive(children=(Dropdown(description='view_name', options=('stg_contributions',), value='stg_contributio…

In [19]:
def get_view_dfs(view_names):
    output = {}
    for view in view_names:
        query = f"SELECT * FROM {view};"
        output[view] = conn.sql(query).df()
    return output

view_dfs = get_view_dfs(view_df['view_name'].values)
view_dfs['stg_contributions'].head()

,doc_seq_no,page_no,contribution_id,cont_detail_id,doc_stmnt_year,doc_type_desc,com_legal_name,common_name,cfr_com_id,com_type,...,zip,occupation,employer,received_date,amount,aggregate,extra_desc,RUNTIME: 06-04-2024 05:36:52,Unnamed: 26,RUNTIME: 06-04-2024 05:39:22
0,517551,0,8210,0,2022,JANUARY QUARTERLY CS,BUTZEL LONG POLITICAL ACTION COMMITTEE,BUTZEL LONG PAC,500841,IND,...,48230-0000,ATTORNEY,BUTZEL LONG,11/04/2021,100.00,550.0,NaN,NaN,NaN,NaN
1,517551,0,8211,0,2022,JANUARY QUARTERLY CS,BUTZEL LONG POLITICAL ACTION COMMITTEE,BUTZEL LONG PAC,500841,IND,...,48438-0000,ATTORNEY,BUTZEL LONG,11/04/2021,40.00,200.0,NaN,NaN,NaN,NaN
2,517551,0,8212,0,2022,JANUARY QUARTERLY CS,BUTZEL LONG POLITICAL ACTION COMMITTEE,BUTZEL LONG PAC,500841,IND,...,48073-0000,CHIEF MARKETING OFFICER,BUTZEL LONG,11/04/2021,20.00,110.0,NaN,NaN,NaN,NaN
3,517551,0,8213,0,2022,JANUARY QUARTERLY CS,BUTZEL LONG POLITICAL ACTION COMMITTEE,BUTZEL LONG PAC,500841,IND,...,48301-0000,ATTORNEY,BUTZEL LONG,11/04/2021,32.00,176.0,NaN,NaN,NaN,NaN
4,517551,0,8214,0,2022,JANUARY QUARTERLY CS,BUTZEL LONG POLITICAL ACTION COMMITTEE,BUTZEL LONG PAC,500841,IND,...,48170-0000,None,None,11/04/2021,10.00,55.0,NaN,NaN,NaN,NaN